* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

l {
  border: 1px solid black;
}

body,
html {
  height: 100%;
  max-height: 100%;
}
html {
  overflow: hidden !important;
}

#app {
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 10px !important;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px !important;
    border-radius: 10px !important;
    background: #999 !important;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: #999 !important;
  }
}

.v-application {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// .v-application-wrap {
//   min-height: 100% !important;
//   overflow-y: auto;
// }

@media only screen and (min-width: 320px) and (max-width: 1220px) {
  html,
  body {
    font-size: 0.85rem !important;
  }

  .fv__pdf-page-handler-container {
    touch-action: manipulation !important;
  }

  .control-item__text {
    padding: 0px;
  }
}

/** Test fix foxit sdk */
// @media only screen and (min-width: 320px) and (max-width: 1220px) {
//   .fv__pdf-page-handler-container {
//     touch-action: manipulation !important;
//   }
// }

.control-item {
  position: absolute !important;
  background: orange;
  z-index: 50;
}

.control-item__text {
  // padding: 2px;
  border: 1px gray solid;
  border-radius: 2px;
}

.control-item--disabled {
  background: #797979;
}

button.control-item {
  background: lightgreen;

  &:hover {
    border: dotted darkorange 2px;
  }
}

.v-data-table
  > .v-data-table__wrapper
  tbody
  tr.v-data-table__expanded__content {
  box-shadow: none !important;
}
