.DS_Store
node_modules
server
/dist

#foxit lib
src/foxit-lib/*
!src/foxit-lib/assets
!src/foxit-lib/license-key.js


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
