.wvs-app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wvs-wrapper {
  flex: 1;
  display: flex;
  flex: 1;
  position: relative;
  height: 100%;
  // padding: 0 40px 0 40px;
}

.wvs-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

@media only screen and(max-width: 1024px) {
  // .wvs-wrapper {
  //   padding: 0;
  // }
}
